<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Query Test</title>
		<meta name="description" content="query test page" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	</head>
	<body>
		<header>
            <h1>Queryテストページ</h1>
		</header>
		<article>
            <p>以下のURLに応じたメッセージを表示</p>
            <p>/{item_name}?query_string={query_string}</p>
        </article>
        <article>
            <p>item_name: {{item_name}}</p>
            <p>query_string: {{query_string}}</p>
        </article>
		<footer>
		</footer>
	</body>
</html>